{% extends 'base.html' %} {% block title %} {{ recipe.name }} Details {% endblock %} 
{% block content %}
<h1>{{ recipe.name }}</h1>
{% if recipe.user == request.user%}
<a href="{% url 'recipe_update' recipe.id %}" class="btn green"
  >Update Recipe Details</a>
  {% endif %}
<div>{{ recipe.description }}</div>
<div>Time: {{recipe.totalTime}}</div>
<div>CookTime: {{recipe.cookTime}}</div>
<div>Ingredients: <div>
  {% for ingredient in recipe.ingredients.all %}
    <span>{{ ingredient.name }}, </span>
    {% endfor %}
    <div> {{ recipe.ingredients }} </div>

{% if user.is_authenticated %} {% if favorited %}
<a href="{% url 'favorite_add' recipe.id %}" class="btn red"
  >Remove From Favorites</a
>
{% else %}
<a href="{% url 'favorite_add' recipe.id %}" class="btn green">Favorite</a>
{% endif %} {% else %}
<a href="{% url 'signup' %}" class="btn blue">Add to favorites</a>
{% endif %}

<form method="POST" action="{% url 'reviews_create' recipe.id %}">
  {% csrf_token %} {{ reviewForm.as_table}}
  <input type="submit" class="btn" value="Add Review for {{ recipe.name }}" />
</form>

<!-- VIEW UPLOADED PHOTOS -->
{% for photo in recipe.recipephoto_set.all %}
<img class="responsive-img recipe-photo" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<!-- FORM TO UPLOAD RECIPE PHOTO -->
<form action="{% url 'add_recipe_photo' recipe.id %}" enctype="multipart/form-data" method="POST" alt="Recipe Photo" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>


<!-- VIEW REVIEWS -->

{% for review in reviews %}

<div>{{review.body}}</div>
<div>{{review.stars}}</div>

{% endfor %} {% endblock %}
