{% extends 'base.html' %}

{% block title %}
  KetoNom Recipes
{% endblock %}
{% block content %}


<h1> RECIPES INDEX</h1>
<br>
<br>
<br>
<br>
<a href="/recipes/create/">ADD NEW RECIPE</a>
<br>
<br>
<br>
<br>
<div class="row">
<div>USING DEFUALT MATERIALIZE CARDS</div>
{% for recipe in recipes %}
  <div class="col s4">
    <div class="card recipe-card">
      <div class="card-image">
        <img src="https://s3.us-west-2.amazonaws.com/ketonom/3d22e3.jpeg">
      </div>
      <div class="card-content">
        <p>{{ recipe.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
      </div>
    </div>
  </div>

  {% endfor %} 
</div>


{% endblock %}