{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Materialize CSS & JS script -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!-- Materialize CSS & JS script END -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
        <nav>
            <div class="nav-wrapper deep-purple lighten-1">
              <a href="{% url 'home' %}" class="brand-logo">KetoNom</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
                <li><a href="mobile.html">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'logout' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer></footer>
  </body>
</html>
