{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Materialize CSS -->
    {% block css %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
      integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8="
      crossorigin="anonymous"
    />
    {% endblock css %}
    <!-- Materialize CSS END -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Materialize JS -->
    {% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
      integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        // Initialize materialize data picker
        $(".datepicker").datepicker({ format: "yyyy-mm-dd" });
        $("select").formSelect();
      });
    </script>
    {% endblock javascript %}
    <!-- Materialize JS END -->

    <header>
      <nav>
        <div class="nav-wrapper deep-purple lighten-1" style="padding-right:10%;padding-left:10%">
          <a href="{% url 'home' %}" class="brand-logo">KetoNom</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="{% url 'recipes_index' %}">Recipes</a></li>
            <li><a href="{% url 'profile_favorites' %}">Favorites</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </header>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer></footer>
  </body>
</html>
