.recipe-card {
    height: 400px;
    border-radius: 5px;
}

.testclass {
    color: red;
    font-size: 50px;
}

.recipe-photo {
    border: solid black 5px;
    border-radius: 20px;
    width: 30rem;
    margin: 1rem;
}

.recipeupdatebtn {
    align-items: right;
    color: blue;
    padding: 5rem;
}